.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  
  // Sizes
  &--xs {
    width: 12px;
    height: 12px;
  }
  
  &--sm {
    width: 16px;
    height: 16px;
  }
  
  &--md {
    width: 20px;
    height: 20px;
  }
  
  &--lg {
    width: 24px;
    height: 24px;
  }
  
  &--xl {
    width: 32px;
    height: 32px;
  }
}
